*{
    
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




body{
    margin: 0;


    
}

h1{font-size: 2.8em;}
h2{font-size: 2.0em;}
h3{font-size: 1.8em;}
p{font-size: 1.3em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 15%;
    padding: 20px 30px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow : 2px 2px 10px  rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(88, 0, 0);
    padding-left: 30px;

}

button:hover{
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 15%;
    padding: 20px 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow : 1px 2px 10px -1px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgba(163, 0, 0, 0.959);
    padding-left: 30px;

}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 30px;
}

header{
    background-color: rgb(235, 235, 235);
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
   font-style: italic;
    font-size: 60px;
    
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
    padding-left: 10px;


}

header nav{
    display: inline;
    flex-direction:row;
    text-align: center;
    font-size: 25px;
    
}

header a{
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(136, 0, 0, 0.8);


}

header a:hover{

    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(206, 0, 0);
    
    

}


#hero{
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("media/city.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    margin-bottom: 0px;
    
}

#hero h1{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    height: 8vh;
}

#importante{
    padding-top: 30px;
    background-color: rgba(255, 252, 252, 0.5);
}
#noticias{
    text-align: left;
    
    
}

#noticias h1{
    color: black;
    background-image: url(media/news.jpg);
    font-style: oblique;
    border-radius: 18px;
    text-align: center;
    margin-top: 0%;
    padding-top: 5px;
}

#noticias .container{
    padding: 200px 12px;
    
}

#heroes{
    text-align: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
    padding-top: 15px;
}

#heroes h1{
    background-image: url(media/news.jpg);
    font-style: oblique;
    border-radius: 18px;
    text-align: center;
    padding: 5px;
    padding-bottom: 5px;
    color: black;

}

#imagenes{
    display: flex;
    width: 1200px ;
    height: 800px;
}

#imagenes img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .8s ease;
}

#imagenes img:hover{
    cursor: cell;
    width: 300px;
    opacity: 1;
    filter: contrast(120%), brightness(120%);
}

#piefoto p{
    text-align: left;
    font-weight: bold;
    
    border-radius: 25px;
    background-size: 10px;
}


/* presentacion css */

.presentation{
     
    color: whitesmoke;
    align-items: center;
    border-width: 10px;
    margin: 2vh;
    flex-direction: row;
    padding: 2vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
  
  
     

}


.imagenderecha{
    float: right;
    max-width: 800px;
    max-height: 600px;

}

.parraf{
    float: left;
    text-align: left;

    
    
}
#titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
    margin: 3vh;
    background-color: red;
    padding: 3vh;
    font-size: 4em;
    font-style: italic;

}


nav ul {
    display: none; /* Oculta la lista por defecto */
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0px;
    margin: 0px;
  }
  
  nav li {
    display: block;
    padding-top: 5px;
    border-bottom: 1px solid #ccc;
    margin-top: 0px;
  }
  
  nav a:hover + ul,
  nav ul:hover {
    display: block; /* Muestra la lista cuando se
     pasa el ratón sobre el enlace */
  }

/*actuacion*/

  .actuacion{
    


  }
  .actuacion h1{
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: red;
    background-color: black;
  }
  
  .left-section {
    float: left;
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(37, 37, 37);
  }
  

  /* Estilos para el texto */
  .left-section p {
    text-align: justify;
    font-size: 3em;
    line-height: 1.5;

  }

  /* Estilos para el aside */
  .right-aside {
    float: right;
    width: 40%;
    box-sizing: border-box;
  }

  /* Estilos para la imagen */
  .right-aside img {
    display: block;
    width: 100%;
    height: auto;
  }


/* formulario*/

#encabezado {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 2rem;
    text-align: left;
  }
  
  /* Estilo para la sección 1 */
  #parte1 {
    margin: 2.5 rem;
    background-color: aquamarine;
    
  }
  
  /* Estilo para el formulario */
  form {
    font-size: 1.6rem;
  }
  
  /* Estilo para los fieldsets */
  fieldset {
    border: 2px solid #ccc;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  
  legend {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  /* Estilo para las etiquetas de los campos de entrada */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  /* Estilo para los campos de entrada */
  input[type="text"],
  input[type="password"],
  input[type="tel"],
  input[type="date"],
  input[type="email"],
  textarea {
    font-size: 1.4rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    width: 2.8;
    margin-bottom: 1rem;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 0.5rem;
    transform: scale(3.0);
    
  }
  
  /* Estilo para el botón de enviar */
  input[type="submit"] {
    background-color: #000dbd;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    border: solid;
    border-radius: 4px;
    cursor: pointer;
  }
  select{
    height: 50px;
    font-size: 20px;

  }
 
  
 